/* #root {
  background-color: #A6F6FF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(1fr, 5) ;
  grid-template-rows: repeat(1fr, 5) ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 95vh;
  }
.beginner {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  align-items: center;
  
}
.expert {
  grid-area: 3 / 2 / 5 / 4;
  display: flex;
  align-items: center;

}
.intermediate {
  grid-area: 1 / 3 / 3 / 5;
  display: flex;
  align-items: center;
 
}
.leadsmall {
  grid-area: 1 / 5 / 6 / 6;
  display: flex;
  align-items: center;
  height: 100px;
  width: 300px;
  margin: auto;
  border: 3px solid #6499E9;
  border-radius: .5rem;
  padding: 5px;
}

.mb-2 {
  position: relative;
  margin: auto;
}
.typebox {
  background-color: #A6F6FF;
  padding: 1rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 90%;
  margin: auto;
  
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid #6499E9;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.timer {
  top: 2rem;
  font-size: 3rem;
  color: #6499E9;
  font-weight: bold;
  text-align: center;
}
 */


/* double check later */


  
  .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('bg.png');
  color: black;
  text-align: center;
  height: 90vh;
  }
  
  .heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: black;
  }
  
  .header {
  display: flex;
  align-items: center;
  }
  
  .timer, .errors, .accuracy,
  .cpm, .wpm {
  background-color: #6499E9;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
  }
  
  .cpm, .wpm {
  display: none;
  }
  
  .header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  }
  
  .curr_time, .curr_errors,
  .curr_accuracy, .curr_cpm,
  .curr_wpm {
  font-size: 2.75rem;
  }
  
  .quote {
  background-color: #6499E9;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: black 5px 8px 5px;
  }
  
  .input_area {
  background-color: #f5f5c6;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
  }
  
  .restart_btn {
  display: none;
  background-color: #326765;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
  }
  
  .incorrect_char {
  color: red;
  text-decoration: underline;
  }
  
  .correct_char {
  color: darkgreen;
  }
  